/*  your css code here. If applicable */
#y{
	background-color:yellow;
	border-width:1px;
	border-color:green;
}
#o{
	background-color:red;
	border-width:1px;
	border-color:black;
}
#g{
	background-color:green;
	border-width:1px;
	border-color:yellow;
}